<div class="container">
  <div class="row games-row">
    <div class="col-md-6">
      <nav class="navbar navbar-dark bg-primary">
        <h2><a class="navbar-brand">Desejados</a></h2>
      </nav>
      <div class="row">
        <div class="col-md-4 col-6 card-col">
          <div class="card bg-dark text-white">
            <img src="https://upload.wikimedia.org/wikipedia/pt/6/6b/Capa_de_Crash_Tag_Team_Racing.jpg" 
            class="card-img game-pic" alt="...">
            <div class="card-img-overlay d-flex">
              <%= link_to 'Remover', '', class: "btn btn-danger align-self-center mx-auto"%>
            </div>
          </div> 
        </div> <!-- Col-md-4 -->
      </div>
    </div> <!-- Col-md-6 -->

    <div class="col-md-6">
      <nav class="navbar navbar-dark bg-primary">
        <h2><a class="navbar-brand">Para trocar</a></h2>
      </nav>
      <div class="row">
        <div class="col-md-4 col-6 card-col">
          <div class="card bg-dark text-white">
            <img src="https://upload.wikimedia.org/wikipedia/pt/d/dd/Crash_Bandicoot_1_capa.png" 
            class="card-img game-pic" alt="...">
            <div class="card-img-overlay d-flex">
              <%= link_to 'Remover', '', class: "btn btn-danger align-self-center mx-auto"%>
            </div>
          </div> 
        </div> <!-- Col-md-4 -->
      </div> 
    </div> <!-- Col-md-6-->
  </div>
 
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-dark bg-primary">
        <h2><a class="navbar-brand">Trocas em andamento</a></h2>
      </nav>
    </div>
  
    <div class="col-md-3 card-col">
      <div class="card">
        <%= image_tag "https://via.placeholder.com/500x500", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title">Jogo: </h5>
          <small class="text-muted">Descrição:</small> 
        </div>
        <div class="card-footer text-center">
          <button type="button" class="btn btn-success">Trocar</button>
          <button type="button" class="btn btn-danger">Não Trocar</button>
        </div>
      </div> 
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
      $('.card-img-overlay').hover(function() {
        $(this).toggleClass('activate');
      })
    })
  </script>

