<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-dark bg-primary">
        <h2><a class="navbar-brand">Proposta de trocas</a></h2>
      </nav>
    </div>
    <% if @proposals.empty? %>
      <div class="col-md-12 text-center ">
        <h5 class="text-secondary mt-5">Nenhuma proposta disponível.</h5>
      </div>
    <% else %>
      <% @proposals.each do |proposal| %>
        <div class="col-md-3 card-col">
          <div class="card">
            <%= image_tag "https://giantbomb1.cbsistatic.com/uploads/scale_small/8/87790/1881070-box_crashttr.png", class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title mb-0">Crash Tag Team Racing</h5>
            </div>
            <div class="card-footer text-center">
              <%= link_to 'Trocar', answer_proposal(answer: true), method: :post, class: "btn btn-success" %>
              <%= link_to 'Não trocar', answer_proposal(answer: false), method: :post, class: "btn btn-danger"%>
            </div>
          </div> 
        </div>
      <% end %>
    <% end %>
  </div>
</div>

