<div class="container">
  <div class="row">
    <% @games.each do |game| %>
      <div class="col-md-3 col-6">
        <div class="card">
          <%= image_tag "#{game['image']['original_url']}", class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title"><%= game['name']%></h5>
            <p class="card-text"><%= game['deck'] %></p>
            <p><%= game['cover'] %></p>
            <button type="button" class="btn btn-primary">Quero</button>
            <button type="button" class="btn btn-warning">Tenho</button>
          </div>
       </div>
      </div>
    <% end %> 
  </div>
</div>